build
target
lib
tmp
xtend-gen
*.class
*.so
*.dll
*.jar
/dist/
.gradle
*.blend1
*.blend2

# eclipse
/bin/
/.classpath
/.project
/.factorypath
/.settings
/.apt_generated

# netbeans
**/private
**/genfiles.properties
/.nb-gradle/profiles/jme.profile
